.cuerpo__sobreMi___titulo{
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    line-height: 5rem;
    width: 30%;
    margin-left: 5rem;
    transition: all 3s ease;


    position: relative;
}


.cuerpo__sobreMi___titulo::after{
    position: absolute;
    content: "";
    width: 0%;
    height: .2rem;
    background-color: #ffd164;
    left:50%;
    bottom: -.2rem;
    transition: all 0.3s ease-in-out;
}

.cuerpo__sobreMi:hover .cuerpo__sobreMi___titulo::after{
    width:70%;
    left: 0;
    
}

@media only screen and (max-width: 510px){
    .cuerpo__sobreMi___titulo{
        font-size: 3rem;
        text-align: start;
        width: 100%;
    }
}